body{
	/* background: radial-gradient(circle, #BBDDff 1%, #6699ff 95%) fixed; */
	margin: 0;
	padding: 0;

	background: #b3b3b3;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #ffffff, #b3b3b3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #ffffff, #b3b3b3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #ffffff, #b3b3b3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #ffffff , #b3b3b3); /* Standard syntax */

}

/* h1 {
	color: black;
	text-align: center;
	font-family: sans-serif;
	background-color: white;
	width: 50%;
	margin: auto;
} */

#main{
}


#logo {
	position: absolute; /* Абсолютное позиционирование */
    top: 12%; /* Положение от нижнего края */
	/* background:  url(../img/logo-trueliq.png);
	background-size: cover;	 */
	width: 100%;
	height: 8%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#icon {
	position: absolute; /* Абсолютное позиционирование */
    top: 27%; /* Положение от нижнего края */
	left: 30%;
	/* background:  url(../img/logo-trueliq.png);
	background-size: cover;	 */
	width: 40%;
	display: block;
}

#result {


	position: absolute;
	top: 58%;
	width: 100%;
	height: 23%;
	/* height: 90px; */
	text-align: center;
	font-family: sans-serif;
	text-transform: uppercase;
	
	background: #dadada;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #ffffff, #dadada); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #ffffff, #dadada); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #ffffff, #dadada); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #ffffff , #dadada); /* Standard syntax */	
	
	border-radius: 15px;
	
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	
	/* border: black 2px; */
	/* font-size: larger; */
}

#home {
	position: absolute;
    top: 87%;
	height: 8%;
	width: 100%;
	margin: 0 auto;
	display: block;
	text-align: center;
}
/* 
.wrapper{
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	background:  url(../img/icon-scan.png);
	background-size: cover;
	width: 100px;
	height: 100px;
}

.scanner{
	width: 120px;
	height: 2px;
	background: red;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	left: -10px;
	-webkit-animation: scanner 5.0s infinite linear;
}

.scanner div{
	position: absolute;
	right: 0px;
	bottom: 5px;
}



.scanner div ul{
	list-style: none;
	margin: 0;
	padding: 0;
}


@-webkit-keyframes scanner{
	0%{
	bottom: 5px;
	}
	50%{
	bottom: 90px;
	}
	100%{
	bottom: 5px;
	}
}
 */

/* div #preload {
	display: none;
} */